<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disney - Modificar Personaje</title>
    <!-- CSS -->
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">

</head>

<body>
    <section>
        <div class="encabezado">
            <a th:href="@{/}">
                <h1>Regresar</h1>
            </a>
        </div>
    </section>
    <section>
        <div class="encabezado">
            <h1>Editar Personaje</h1>
        </div>
    </section>

    <section class="container-form">
        <form class="contact-form" action="#" th:action="@{/characters/guardar}" method="POST" th:object="${personaje}">
            <div class="container-contact-form">
                <!-- nombre y apellido -->
                <!-- nombre -->
                <div class="contact-flex-contact-flex--id">
                    <div class="contact-name">
                        <label class="input-name" for="name">Nombre</label>
                        <input class="form-control  form-control-lg" type="text" name="name" th:field="*{nombre}"
                            placeholder="Ingresá el nombre de tu personaje " >
                    </div>
                </div>
                <div class="contact-flex-contact-flex--id">
                    <div class="contact-name">
                        <label class="input-imagen" for="imagen">Imagen</label>
                        <input class="form-control  form-control-lg" type="text" name="name" th:field="*{imagen}"
                            placeholder="Ingresá una imagen de tu personaje   " >
                    </div>
                </div>
                <div class="contact-flex-contact-flex--id">

                    <div class="contact-name">
                        <label class="input-edad" for="edad">Edad</label>
                        <input class="form-control  form-control-lg" type="text" name="edad" th:field="*{edad}"
                            placeholder="Ingresá su edad" >
                    </div>
                </div>

                <div class="contact-flex-contact-flex--id">

                    <div class="contact-name">
                        <label class="input-peso" for="peso">Peso</label>
                        <input class="form-control  form-control-lg" type="text" name="peso" th:field="*{peso}"
                            placeholder="Ingresá su peso" >
                    </div>
                </div>
                <div class="contact-flex-contact-flex--id">

                    <div class="contact-name">
                        <label class="input-historia" for="historia">Historia</label>
                        <input class="form-control  form-control-lg" type="text" name="historia" th:field="*{historia}"
                            placeholder="Ingresá su historia" >
                    </div>
                </div>
                <div class="contact-flex-contact-flex--id">

                    <div class="contact-name">
                        <label class="input-peliculas" for="peliculas">Peliculas</label>
                        <input class="form-control  form-control-lg" type="text" name="peliculas"
                            th:field="*{peliculas}" placeholder="Ingresá sus peliculas" >
                    </div>
                </div>

                <div class="container-botones">
                    <button type="submit" class="btn btn-outline-secondary btn-lg m-2 ">Enviar</button>
                    <button type="reset" class="btn btn-outline-secondary btn-lg m-2">Limpiar</button>
                </div>
        </form>
	

    </section>

</body>

</html>