<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disney</title>
    <!-- CSS -->
   <link th:href="@{/css/style.css}"  rel="stylesheet"  >
	<link th:href="@{/css/bootstrap.css}"  rel="stylesheet" >
</head>

<body>
<section>
    <section>
        <div class="encabezado">
            <a th:href="@{characters/modificar}"><h1>Editar Personaje</h1></a>
        </div>
    </section>

</section>
<script src="../js/bootstrap.min.js"></script>
</body>
</html>